/*********************
SERMON POST TYPE STYLES
*********************/
.sermon-content,
.sermon-sidebar {
  padding-bottom: 2em;
}

.sermon-content {
  padding-top: 4em;
}

.sermon-sidebar {
  padding-top: 2em;
  padding-left: 0;
  margin-bottom: 3em;
}

.sermon-sidebar.columns {
  background: #F9F9F9;
  padding-right: 0;
}

.mejs-container {
  margin-bottom: 2em;
}

.current-series {

  header {
    padding: 0 2em;
  }
}

.current-series-head-text-fallback {
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

.current-series-heading {
  font-size: 0.75em;
  color: map-get($foundation-palette, primary);
  text-transform: uppercase;
}

.current-series-description {
  padding: 1em 1em 0;
}

.related-sermons-list {
  margin: 1.5em 0;
  list-style-type: none;
}

.related-sermons-item {
  padding: 0 2rem;
  color: #555;
  font-size: 0.8em;
  line-height: 2.5rem;
  counter-increment: step-counter;

  &:before {
    display: inline-block;
    width: 40px;
    line-height: 2.5rem;
    content: counter(step-counter) ".";
  }

  &:nth-child(odd) {
    background: rgba(10, 10, 10, 0.05);

    &:hover {
      cursor: pointer;
      background: rgba(18, 168, 157, 0.2);
    }
  }

  &:hover {
    cursor: pointer;
    background: rgba(18, 168, 157, 0.2);
  }

  a {
    color: inherit;
  }
}

.currently-playing {
  color: #12A89D;

  &:before {
    width: 15px;
    height: 13px;
    margin-right: 24px;
    content: '';
    font-size: 1rem;
    background: url("../images/speaker.png") no-repeat center center;
    background-size: cover;
  }
}

.more-series-btn {
  margin-left: 2rem;
}

.sermons-page-content {
  margin-top: 4em;

  .columns:last-child:not(:first-child) {
    float: left;
  }
}

.sermon-page-column {
  margin-bottom: 2em;
}

.series-placeholder-name {
  position: absolute;
  font-weight: bold;
  color: #0bc3f5;
  font-size: 2em;
  text-shadow: #0e0e0e 1px 2px 4px;

  @include breakpoint(medium) {
    font-size: 1.4em;
  }
}
